$prefix: lrn-bnw-;
$width: 600px;
$primary-color: rgb(255, 200, 0);
$secondary-color: rgb(100, 100, 100);
$info-color: skyblue;
$stroke-width: 2;
$stroke-primary-color: $primary-color;
$stroke-secondary-color: $secondary-color;
$correct-color: #4a700a;
$incorrect-color: #dd002f;
$suggested-color: #e9e99a;
$suggested-text-color: #333;
